div.caption {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  max-width: 814px;


}
div.caption img {
  display:block;
}
div.caption video {
  display:block;
}
video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}
#article-content img {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;

}

.YTvideoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  max-width: 800px;
}
.YTvideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container {
  background-color: #44515a;
  color: #eee8dc;

}

a {
  color: #eee8dc;
  padding-right: 3px;
  padding-left: 3px;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
  text-decoration: none;

}
a:hover {
  color: #d7ada2;
  text-decoration: none;
  font-weight: normal;
}
.topnav a {
  color: #d7ada2;
  padding-right: 3px;
  padding-left: 3px;
  text-decoration: none;
  border-bottom: none;
}
.topnav a:hover {
  text-decoration: underline;
  font-weight: normal;
  color: #eee8dc;

}
#sidebar {
  #background-color: #E19B9F;
}
hr { border-top: 1px solid #d7ada2}

body {
  background-color: #44515a;
  font-family: franklin-gothic-compressed, arial, sans-serif;
  font-size: 1.2em;
}
h1,h2,h3,h4 {
  font-family: meno-banner, times, serif;
}

span.hover:hover {
  color: #d7ada2;
  cursor: pointer;
}
